# ==== Folder yang tidak perlu di-push ====
# /db/
/uploads/
/upload/
/documents/
/document/
/dokumen/
/files/
/tmp/
/temp/
/cache/
/vendor/
/dist/koneksi.php
# /komponen/
/plugins/
# /docs/
/pages/assets/

# ==== File sementara / lokal ====
/db.sql
/masq2971_simpeg (struktur only).sql
/struktur-folder.txt
/composer.phar
*.sql
*.zip
*.rar
*.7z
*.tar
*.gz
*.xlsx
*.xls
*.csv
*.pdf
!pages/**/template-*.xlsx
!pages/**/template-*.xls

# ==== Upload dan hasil generate ====
uploads/**
upload/**
documents/**
document/**
dokumen/**
files/**
tmp/**
temp/**
cache/**

# ==== Sistem dan cache ====
*.log
*.tmp
*.bak
*.cache

# ==== OS & IDE ====
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store

# VSCode
.vscode/
.history/

/assets/
